$skyblue: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
$darkwhite: #FEFEFE;
$darkblack: #3C3C3C;
$gray: #F2F2F2;
$dark: #222;
$light: #ccc;
$grey: #888;
$space: 20px;

.btn {
    img {
        margin: 0 5px 0 0;
    }
    border-radius: 3px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 900;
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    padding: 12px 39px 11px 39px;
    background: $skyblue;
    color: #fff;
}

.button:hover {
    color: #fff;
}

.desktop {
    top: 80%;
    right: 0;
    position: fixed;
    z-index: 999;
}

.header {
    box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
    padding: 24px 0;
    .main-header {
        display: flex;
        align-items: center;
        .header-navigation__items {
            display: flex;
            justify-content: center;
            width: 92.8%;
            transition: all 0.3s ease-in-out;
            align-items: center;
            margin: 0;
            .hamburger__menu {
                display: none;
            }
            .header-navigation__item {
                list-style: none;
                margin: 0 83px 0 0;
                .header-navigation__link {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 18px;
                    text-decoration: none;
                    color: $darkblack;
                }
                .header-navigation__link:hover {
                    font-weight: 900;
                    text-decoration: underline;
                }
                .active {
                    font-weight: 900;
                    text-decoration: underline;
                }
            }
        }
        .header__switch {
            position: relative;
            background-color: $gray;
            border-radius: 190px;
            width: 54px;
            height: 30px;
            .checkbox {
                overflow: hidden;
                position: absolute;
                top: 5px;
                left: 10px;
                z-index: -10;
            }
            .checkbox__label {
                display: block;
                position: absolute;
                top: 5px;
                left: 6px;
                width: 20px;
                cursor: pointer;
                height: 20px;
                box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
                border-radius: 50%;
                background-color: #fff;
                transition: all 0.3s ease 0s;
            }
            .checkbox:checked + .checkbox__label {
                left: 28px;
            }
        }
    }
}

.subtitle-section {
    padding: 205px 0 107px 0;
    background-image: url(./../img/Rectangle\ 32.png);
    background-repeat: no-repeat;
    z-index: -10;
    .main-subtitle {
        z-index: 1;
        display: flex;
        .main-subtitle__icons {
            width: 2%;
            display: flex;
            flex-wrap: wrap;
            height: 626px;
            align-items: flex-end;
            .main-subtitle__incon {
                display: block;
                margin: 0 0 8px 0;
            }

        }
        .main-subtitle__info {
            padding: 0 0 0 177px;
            .main-subtitle__title {
                width: 65%;
                font-weight: 900;
                font-size: 89px;
                line-height: 104px;
                color: $darkwhite;
            }
            .main-subtitle__btn {
                display: inline-block;
                margin: 39px 0 0 0;
            }
            a {
                padding: 10px 38px;
            }
        }
        .slide-animal {
            overflow: hidden;
            align-items: center;
            position: absolute;
            right: 0;
            top: 498px;
            .line {
                position: absolute;
                top: 50%;
                z-index: 1;
            }
            .animal-photo {
                display: flex;
                z-index: 10;
                align-items: flex-end;
                .animal {
                    z-index: 10;
                    margin-right: -15px;
                }
            }
            .animal-number {
                .number {
                    span {
                        font-size: 14px;
                        line-height: 16px;
                        opacity: 0.8;
                        color: #fff;
                    }
                    margin: 20px 0 11px 0;
                    padding-left: 30%;
                    font-weight: 900;
                    font-size: 24px;
                    line-height: 28px;
                    color: #fff;
                }
            }
            .line-scroll {
                width: 245px;
                height: 5px;
                margin: 16px 0 0 22%;
                background-color: rgba(189, 189, 189, 0.57);
            }
            .line-grow {
                width: 30px;
                height: 10px;
                margin: -7px 0 0 24%;
                background: #FEFEFE;
            }
        }
    }
}

.works-section {
    padding: 101px 0 101px 0;
    .main-works {
        width: 49%;
        margin: auto;
        .works-info {
            .works-title {
                margin: 0 0 30px 0;
            }
            .works-subtitle {
                margin: 0 0 30px 0;
            }
            .carousel-slider {
                .carousel {
                    .carousel-indicators {
                        top: 123%;
                        display: flex;
                        align-items: center;
                        .carousel-indicators [data-bs-target] {
                            margin-right: 0;
                        }
                        .active {
                            height: 10px;
                        }
                        button {
                            background-color: #333;
                            margin-right: 0;
                            width: 77px;
                            margin-left: 0;
                            height: 5px;
                        }
                    }
                    .carousel-inner {
                        .carousel-item {
                            text-align: center;
                            .w-100 {
                                width: 100%!important;
                            }
                        }
                    }
                }
            }
            .number {
                span {
                    font-size: 14px;
                    line-height: 16px;
                    opacity: 0.5;
                }
                text-align: center;
                margin: 29px 0 11px 0;
                font-weight: 900;
                font-size: 24px;
                line-height: 28px;
                color: $darkblack;
            }
            .works-btn {
                display: flex;
                justify-content: center;
                margin: 65px 0 0 0;
            }
        }
    }
}

.about-me__section {
    padding: 100px 0 127px 0;
    background-color: $gray;
    .main-about__me {
        display: flex;
        justify-content: center;
        max-width: 78%;
        margin: 0 auto;
        .about-me__blog {
            width: 31%;
            margin: 0 15px 0 0;
            .about-me__image {
                text-align: center;
            }
            .about-me__blog-title {
                font-weight: 900;
                font-size: 20px;
                line-height: 23px;
                margin: 15px 0;
                text-align: center;
                color: $darkblack;
            }
            .paragraph-width {
                width: 97%;
            }
        }
    }
}

.zoo-section {
    padding: 100px 0;
    .main-zoo {
        .zoo-title {
            text-align: center;
            margin: 0 0 35px 0;
        }
        .section {
            h1 {
                color: $light;
                margin-bottom: 30px;
                font-size: 20px;
            }
        }
        main {
            max-width: 74%;
            margin: 0 auto;
        }
        .cards {
            font-size: 0;
            white-space: nowrap;
        }        
        .card-outter {
            display: inline-block;
            padding-left: $space;
        }
        .card {
            img {
                margin: 0 9px 0 0;
            }
        }
        .slider-container {
            position: relative;
            overflow: hidden;
            margin: 0 -20px;
            &:before,
            &:after {
                position: absolute;
                top: 0;
                z-index: 1;
                content: "";
                display: block;
                width: $space;
                height: 100%;
            }
            &:before {
                left: 0;
            }
        
            &:after {
                right: 0;
            }
        }
        .slider {
            transition: transform .2s ease-out;
            &.active {
                transition: none;
                &, & a {
                    cursor: grab;
                }
                + .slider-indicator-bar {
                    .slider-indicator {
                        transition: none;
                    }
                }
            }
        }
        .slider-indicator-bar {
            position: relative;
            height: 5px;
            width: 100px;
            margin: 30px auto 0;
            background: lighten($dark, 6);
            border-radius: 2px;
            .slider-indicator {
                position: absolute;
                left: 0;
                content: "";
                height: 6px;
                background-color: lighten($dark, 18);;
                border-radius: 2px;
                transition: left .2s ease-in-out;
            }
        }
        .slider-arrow {
            display: block;
            position: absolute;
            top: 50%;
            z-index: 2;
            width: 30px;
            height: 30px;
            background: $light;
            border: 1px solid $grey;
            border-radius: 50%;
            cursor: pointer;
            transform: translateY(-100%);
            transition: opacity .2s ease-in-out;
            box-shadow: 0 0 7px 0 rgba($dark, .4);        
            &:hover {
                box-shadow: 0 0 7px 0 rgba($dark, .8);
            }        
            &:before {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-family: verdana;
                font-size: 18px;
                color: $grey;
            }        
            &.disabled {
                opacity: 0;
            }        
            &.left {
                left: 5px;
        
                &:before {
                    margin-left: -1px;
                    content: "\21F7";
                }
            }        
            &.right {
                right: 5px;
        
                &:before {
                    margin-left: 1px;
                    content: "\21F8";
                }
            }
        }     
        .zoo-btn {
            text-align: center;
            margin: 77px 0 0 0;
            a {
                padding: 16px 18px;
                display: inline-block;
            }
        }
    }
}

.the-donate {
    padding: 100px 0;
    background-color: #F2F2F2;
    .container {
        max-width: 1209px;
        margin: 0 auto;
        .donate-title {
            text-align: center;
            margin: 0 0 30px 0;
        }
        .donate-subtitle {
            text-align: center;
        }
        .main-donate {
            display: flex;
            align-items: center;
            padding: 92px 0 52px 0;
            .arrow {
                padding: 0 57px;
            }
            .donate-blog {
                width: 21%;
                border-radius: 50%;
                border: 3px solid #4BD8B5;
                text-align: center;
                padding: 63px 58px 58px 56px;
                .donate-blog__subtitle {
                    font-weight: 900;
                    font-size: 20px;
                    line-height: 23px;
                    color: #4f4f4f;
                    margin: 18px 0 0 0;
                }
            }
        }
        .donate-btn {
            text-align: center;
            a {
                padding: 16px 87px;
                display: inline-block;
            }
        }
    }
}

.testimonials-section {
    padding: 98px 0;
    .testimonial-title {
        margin: 0 0 62px 0;
        text-align: center;
    }
    .main-testimonials {
        main {
            max-width: 1175px;
            margin: 0 auto;
        }
        .cards {
            font-size: 0;
            white-space: nowrap;
        }
        .card-outter {
            width: 49%;
            display: inline-block;
            background: #FEFEFE;
            padding: 43px 73px 106px 72px;
            box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.1);
            margin: 0 30px 0 0;
            border-radius: 5px;
        }
        .card__blog {
            .card__blog-img {
                text-align: center;
                .elipse {
                    padding: 10px;
                    border-radius: 50px;
                    border: 1px solid #BDBDBD;
                }
            }
            .card__blog-title {
                font-weight: 900;
                font-size: 20px;
                line-height: 23px;
                margin: 16px 0 17px 0;
                text-align: center;
                color: #333;
            }
            .card__blog-subtitle {
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                color: #4f4f4f;
            }
        }
        .slider-container {
            position: relative;
            overflow: hidden;
            margin: 0 -20px;
            &:before,
            &:after {
                position: absolute;
                top: 0;
                z-index: 1;
                content: "";
                display: block;
                width: $space;
                height: 100%;
            }
        
            &:before {
                left: 0;
            }
        
            &:after {
                right: 0;
            }
        }
        
        .slider {
            transition: transform .2s ease-out;
            
            &.active {
                transition: none;
                
                &, & a {
                    cursor: grab;
                }
            
                + .slider-indicator-bar {
        
                    .slider-indicator {
                        transition: none; // Smooth when dragging
                    }
                }
            }
        }
        .slider-indicator-bar {
            position: relative;
            height: 5px;
            width: 100px;
            margin: 30px auto 0;
            background: lighten($dark, 6);
            border-radius: 2px;
        
            .slider-indicator {
                position: absolute;
                left: 0;
                content: "";
                height: 6px;
                background-color: lighten($dark, 18);;
                border-radius: 2px;
                transition: left .2s ease-in-out;
            }
        }
        .slider-arrow {
            display: block;
            position: absolute;
            top: 50%;
            z-index: 2;
            width: 30px;
            height: 30px;
            background: $light;
            border: 1px solid $grey;
            border-radius: 50%;
            cursor: pointer;
            transform: translateY(-100%);
            transition: opacity .2s ease-in-out;
            box-shadow: 0 0 7px 0 rgba($dark, .4);
        
            &:hover {
                box-shadow: 0 0 7px 0 rgba($dark, .8);
            }
        
            &:before {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-family: verdana;
                font-size: 18px;
                color: $grey;
            }
        
            &.disabled {
                opacity: 0;
            }
            &.left {
                left: 5px;
        
                &:before {
                    margin-left: -1px;
                    content: "\21F7";
                }
            }
            &.right {
                right: 5px;
        
                &:before {
                    margin-left: 1px;
                    content: "\21F8";
                }
            }
        }
    }
    .testimonial-btn {
        text-align: center;
        margin: 94px 0 0 0;
        a {
            padding: 17px 50px;
            display: inline-block;
        }
    }
}
.maps-section {
    padding: 100px 0;
    background-color: #f2f2f2;
    .map-title {
        text-align: center;
    }
    .main-maps {
        display: flex;
        justify-content: center;
        margin: 60px 0 35px 0;
        .maps-eage__info {
            width: 80%;
            position: absolute;
            margin: 151px 0 0 0;
            left: 80px;
            .maps-info {
                width: 436px;
                display: flex;
                background: #FEFEFE;
                box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
                border-radius: 8px;
                padding: 42px 0 40px 43px;
                .maps-info__item {
                    margin: 0 0 0 20px;
                    .maps-info__item-title {
                        font-weight: 900;
                        font-size: 18px;
                        line-height: 21px;
                        margin: 0 0 7px 0;
                        color: #333;
                    }
                    .maps-info__item__subtitle {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 16px;
                        margin: 0 0 5px 0;
                        color: #4f4f4f;
                        span {
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
    .maps-btn {
        margin: 38px 0 0 0;
        text-align: center;
        a {
            padding: 11px 38px;
            display: inline-flex;
        }
    }
}

.footer {
    padding: 100px 0 67px 0;
    background-color: #333;
    .first-footer {
        display: flex;
        align-items: center;
        .footer-navigation__items {
            width: 70.9%;
            padding: 0;
            margin: 0 130px 0 0;
            display: flex;
            justify-content: flex-end;
            .footer-navigation__item {
                list-style: none;
                margin: 0 74px 0 0;
                .footer-navigation__link {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 18px;
                    text-decoration: none;
                    color: $darkwhite;
                }
            }
        }
        .footer-navigation__items-media {
            display: none;
        } 
        .footer-btn {
            a {
                margin: -5px 0 0 0; 
                padding: 16px 14px 16px 31px;
            }
        }
    }
    .second-footer {
        display: flex;
        padding: 53px 0 58px 0;
        .footer-register {
            width: 381px;
            .footer-register__title {
                font-weight: 900;
                font-size: 20px;
                line-height: 23px;
                margin: 0 0 33px 0;
                color: #fefefe;
            }
            .footer-input {
                width: 100%;
                border: 0;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                font-family: 'Roboto', sans-serif;
                padding: 0 0 7px 0; 
                border-bottom: 1px solid #bdbdbd;
                margin: 0 0 20px 0;
                background-color: transparent;
                color:#E0E0E0;
            }
            .footer-input:focus {
                outline: none;
            }
            #footer-message {
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                width: 100%;
                margin: 7px 0 0 0;
                padding: 0 0 0 6px;
                font-family: 'Roboto', sans-serif;
                border-radius: 3px;
                background-color: transparent;
                color: #bdbdbd;
            }
            #footer-message:focus {
                outline: none;
            }
            .checkbox-blog {
                margin: 22px 0 20px 0;
                input[type="checkbox"] {
                    display: none;
                }
                label {
                    display: flex;
                    align-items: center;
                    color: #bdbdbd;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 14px;
                }
                label::before {
                    content: '';
                    width: 13px;
                    height: 13px;
                    display: inline-block;
                    vertical-align: middle;
                    border-radius: 3px;
                    border: 1px solid #bdbdbd;
                    background-color: transparent;
                    margin-right: 6px;
                    transition: all 0.3s ease 0s;
                }
                input[type="checkbox"]:checked + label::before {
                    content: 'v';
                    text-align: center;
                    font-family: sans-serif;
                    background-color: #fff;
                }
            }
            .send {
                padding: 0 13px 0 0;
                span {
                    margin-right: 24px;
                    color: #fefefe;
                }
                display: flex;
                align-items: center;
                justify-content: flex-end;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                text-transform: uppercase;
                color: #fefefe;
            }
        }
        .second-footer__info {
            padding-left: 27.68rem;
            .second-footer__info-title {
                font-weight: 700;
                font-size: 14px;
                line-height: 16px;
                text-transform: uppercase;
                margin: 0 0 35px 0;
                color: #fefefe;
            }
            .title-blog {
                margin: 0 0 20px 0;
                .second-footer__info-subtitle {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    color: #fefefe;
                    margin: 0 0 5px 0;
                }
            }
            .footer-icons {
                display: flex;
                align-items: center;
                .link {
                    margin: 0 15px 0 0;
                }
            }
        }
        .footer-btn-media {
            display: none;
        }
    }
    .last-footer {
        padding: 27px 0 0 0;
        border-top: 0.5px solid #FEFEFE;
        .last-footer__title {
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            margin: 0 0 2px 0;
            color: #bdbdbd;
        }
    }
}

.popup:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    transition: all 0.5s ease 0s;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 999;
    .popup__area {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        cursor: context-menu;
    }
    .popup__body {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .popup__content {
            display: flex;
            width: 80%;
            z-index: 999;
            transition: all 0.5s ease 0s;
            background: #F9F9F9;
            box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.19);
            .popup__info {
                width: 64%;
                padding: 0 0 0 139px;
                .popup__title {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 27px;
                    text-transform: uppercase;
                    padding: 100px 0 50px 0;
                    color: #313131;
                    text-align: center;
                }
                #display-block {
                    display: block;
                }
                .popup__flex {
                    display: flex;
                    .first__input-blog {
                        margin-right: 55px;
                    }
                    #block {
                        width: 100%;
                    }
                    .popup__blog {
                        display: flex;
                        width: 50%;
                        .popup__blog-title {
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 20px;
                            margin: 10px 0 31px 0;
                            color: #828282;
                        }
                        .darkblack {
                            color: #4f4f4f;
                        }
                        #first-input {
                            margin-right: 55px;
                        }
                        .popup__blog-input {
                            width: 100%;
                            margin: 0 0 28px 0;
                            .label {
                                font-weight: 500;
                                font-size: 14px;
                                position: absolute;
                                margin: -10px 0 0 8px;
                                line-height: 16px;
                                padding: 1px 27px 1px 17px;
                                background-color: #f9f9f9;
                                color: #828282;
                            }
                            .popup__input {
                                width: 100%;
                                font-weight: 500;
                                font-size: 14px;
                                line-height: 16px;
                                padding: 20px 0 18px 25px;
                                border: 1px solid #828282;
                                background-color: #f9f9f9;
                                border-radius: 5px;
                                color: #828282;
                                outline: none;
                            }
                        }
                    }
                }
                .popup__paragraph {
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 15px;
                    text-align: center;
                    padding: 0 120px;
                    margin: 8px 0 40px 0;
                    color: #828282;
                }
                .popup__btn {
                    text-align: center;
                    a {
                        padding: 16px 82px;
                        display: inline-block;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1200.98px) {
    .media-none {
        display: none;
    }

    .header {
        .container {
            max-width: 900px;
            margin: 0 auto;
        }
    }

    .subtitle-section {
        padding: 127px 0 70px 0;
        .container {
            max-width: 900px;
            margin: 0 auto;
            .main-subtitle {
                .main-subtitle__info {
                    padding: 0;
                    .main-subtitle__title {
                        width: 100%;
                    }
                }
                .slide-animal {
                    top: 526px;
                }
                .animal-number {
                    text-align: center;
                    .number {
                        width: 100%;
                        text-align: center;
                        margin: 26px 0 0 0;
                        padding: 0 0 0 185px;
                    }
                    .line-scroll {
                        margin: 15px auto 0 312px;
                    }
                    .line-grow {
                        margin: -3px auto;
                    }
                }
                .main-subtitle__icons {
                    height: 729px;
                    margin: 0 -17px 0 0;
                }
            }
        }
    }

    .works-section {
        padding: 99px 0;
        .main-works {
            width: 744px;
            margin: 0 auto;
            .works-info {
                .works-subtitle {
                    margin: 0 0 16px 0;
                }
                .animal-slide {
                    height: 323px;
                }
                .numbertext {
                    span {
                        font-size: 14px;
                    }
                    font-size: 24px;
                    padding: 351px 0 0 0;
                }
                .slide-dot {
                    margin: 43px 0 0 0;
                }
                .works-btn {
                    margin: 23px 0 0 0;
                }
            }
        }
    }

    .about-me__section {
        padding: 101px 0 114px 0;
        .main-about__me {
            .about-me__blog {
                .about-me__blog-title {
                    margin: 13px 0;
                }
            }
        }
    }

    .zoo-section {
        padding: 103px 0;
        .main-zoo {
            .zoo-title {
                margin: 0 0 32px 0;
            }
            main {
                max-width: 75%;
                margin: 0 auto;
                .animal {
                    width: 208px;
                    margin: 0 2px 0 0;
                }
            }
            .zoo-btn {
                margin: 73px 0 0 0;
            }
        }
    }

    .the-donate {
        padding: 99px 0 101px 0;
        .container {
            max-width: 892px;
            margin: 0 auto;
            .main-donate {
                padding: 50px 0 47px 0;
                .donate-blog {
                    width: 30%;
                    padding: 63px 50px 58px 50px;
                    .donate-blog__subtitle {
                        margin: 12px 0 0 0;
                    }
                }
                .arrow {
                    width: 85px;
                    padding: 0 17px;
                }
            }
        }
    }

    .testimonials-section {
        .main-testimonials {
            main {
                max-width: 954px;
                margin: 0 auto;
            }
            .slider {
                padding: 0 0 0 49px;
            }
            .card-outter {
                width: 440px;
                padding: 48px 73px 106px 52px;
            }
        }
    }

    .maps-section {
        padding: 100px 0 100px 0;
        .main-maps {
            margin: 60px 0 72px 0;
            .maps-eage__info {
                margin: 131px 0 0 0;
                left: 253px;
                .maps-info {
                    width: 431px;
                    padding: 42px 0 38px 43px;
                }
            }
            .map {
                width: 80%;
            }
        }
    }

    .footer {
        padding: 104px 0 67px 0;
        .container {
            max-width: 900px;
            margin: 0 auto;
            .first-footer {
                .footer-navigation__items {
                    width: 95%;
                    display: flex;
                    justify-content: flex-end;
                    margin: 0 59px 0 0;
                }
                .footer-btn {
                    position: absolute;
                    margin: 639px 0 0 462px;
                }
            }
            .second-footer {
                padding: 51px 0 64px 0;
                .footer-register {
                    width: 383px;
                    margin: 0;
                    .checkbox-blog {
                        margin: 17px 0 20px 0;
                    }
                    .send {
                        span {
                            margin-right: 27px;
                        }
                    }
                }
                .second-footer__info {
                    padding: 0 0 0 78px;
                }
            }
            .last-footer {
                padding: 32px 0 0 0;
            }
        }
    }
}

@media only screen and (max-width: 767.98px) {
    .container {
        max-width: 700px;
        margin: 0 auto;
    }

    .display-none {
        display: none;
    }

    .header {
        .container {
            max-width: 692px;
            margin: 0 auto;
            .main-header {
                .header-navigation__items {
                    .hamburger__menu {
                        display: block;
                    }
                    .header-navigation__item {
                        display: none;
                    }
                }
                .header__switch {
                    margin: 0 50px 0 0;
                    .checkbox:checked + .checkbox__label {
                        left: 21px;
                    }
                }
            }
        }
    }

    .subtitle-section {
        padding: 119px 0 96px 0;
        overflow-y: visible;
        .container {
            max-width: 725px;
            margin: 0 auto;
            .main-subtitle {
                .main-subtitle__icons {
                    height: 716px;
                    margin: 0 -10px 0 14px;
                    .main-subtitle__incon {
                        margin: 0 0 9px 0;
                    }
                }
                .main-subtitle__info {
                    padding: 0;
                    .main-subtitle__title {
                        width: 100%;
                        font-weight: 900;
                        font-size: 64px;
                        line-height: 75px;
                    }
                    .main-subtitle__btn {
                        margin: 32px 0 0 0;
                    }
                }
            }
        }
    }
    
    .works-section {
        padding: 101px 0 67px 0;
        .main-works {
            width: 94.5%;
            margin: 0 auto;
            .works-info {
                .works-subtitle {
                    width: 86%;
                }
                .works-btn {
                    margin: 107px 0 0 0;
                }
            }
        }
    }

    .about-me__section {
        padding: 100px 0 99px 0;
        .main-about__me {
            display: block;
            .about-me__blog {
                width: 100%;
                margin: 0 0 50px 0;
                .about-me__blog-title {
                    margin: 11px 0 16px 0;
                }
                .about-me__blog-subtitle {
                    width: 380px;
                    display: inline-block;
                    padding: 0 0 0 94px;
                }
            }
        }
    }

    .zoo-section {
        padding: 97px 0;
        .main-zoo {
            main {
                max-width: 603px;
                margin: 0 auto;
                .card {
                    .animal {
                        width: 211px;
                    }
                    .card-info {
                        top: 185px;
                        padding-left: 8px;
                    }
                }
            }
            .zoo-btn {
                margin: 83px 0 0 0;
            }
        }
    }

    .the-donate {
        padding: 106px 0 102px 0;
        .container {
            max-width: 700px;
            margin: 0 auto;
            .donate-title {
                margin: 0 0 16px 0;
            }
            .donate-subtitle {
                margin: 0 100px;
            }
            .main-donate {
                display: block;
                text-align: center;
                padding: 50px 0 52px 0;
                .donate-blog {
                    padding: 60px 58px 55px 56px;
                    display: inline-block;
                    width: 250px;
                }
                .donate-arrow__blog {
                    margin: 31px 0 47px 0;
                    .arrow {
                        width: 50px;
                        padding: 0;
                        transform: rotate(90deg);
                    }
                }
            }
        }
    }

    .testimonials-section {
        .testimonial-title {
            margin: 0 0 48px 0;
        }
        .main-testimonials {
            main {
                width: 90%;
            }
            .card__blog {
                .card__blog-subtitle {
                    padding: 3px 0 0 47px;
                }
            }
            .card-outter {
                background-color: #fff;
                width: 95.5%;
            }
        }
        .testimonial-btn {
            margin: 92px 0 0 0;
        }
    }

    .maps-section {
        padding: 100px 0 80px 0;
        .main-maps {
            margin: 52px 0 35px 0;
            .maps-eage__info {
                left: 101px;
                margin: 76px 0 0 0;
                .maps-info {
                    width: 436px;
                    padding: 42px 0 38px 43px;
                }
            }
            .map {
                width: 100%;
            }
        }
        .maps-btn {
            margin: -15px 0 0 0;
        }
    }

    .footer {
        padding: 96px 0 67px 0;
        .container {
            max-width: 699px;
            margin: 0 auto;
            .first-footer {
                display: flex;
                flex-wrap: wrap;
                .footer-navigation__items {
                    display: none;
                }
                .footer-navigation__items-media {
                    width: 70.9%;
                    padding: 15px 0 0 0;
                    margin: 0 131px 0 0;
                    display: block;
                    justify-content: flex-end;
                    .footer-navigation__item {
                        list-style: none;
                        margin: 0 0 5px 0;
                        .footer-navigation__link {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 18px;
                            text-decoration: none;
                            color: $darkwhite;
                        }
                    }
                }
                .footer-btn {
                    display: flex;
                    width: 90%;
                    justify-content: flex-end;
                }
            }
            .second-footer {
                padding: 23px 0 65px 0;
                display: block;
                .footer-register {
                    width: 385px;
                    .footer-input {
                        padding: 0 0 8px 0;
                        margin: 0 0 18px 0;
                    }
                    #footer-message {
                        margin: 12px 0 0 0;
                    }
                    .checkbox-blog {
                        margin: 17px 0 20px 0;
                        label::before {
                            height: 11px;
                        }
                    }
                    .send {
                        padding: 0 14px 0 0;
                    }
                }
                .second-footer__info {
                    padding: 77px 0 0 0;
                }
            }
            .last-footer {
                .last-footer__title {
                    margin: 0 0 6px 0;
                }
            }
        }
    }

    .popup {
        .popup__body {
            .popup__content {
                display: flex;
                width: 55%;
                .popup__img {
                    width: 24.6%; 
                    height: 1267px;
                }
                .popup__info {
                    width: 62.5%;
                    padding: 0 0 0 64px;
                    .popup__title {
                        padding: 105px 0 48px 0;
                    }
                    #display-blog {
                        display: block;
                    }
                    .popup__flex {
                        display: block;
                        #block {
                            display: block;
                        }
                        .popup__blog {
                            width: 100%;
                            .popup__blog-title {
                                margin: 35px 0 29px 0;
                            }
                        }
                    }
                    .popup__paragraph {
                        padding: 0 0px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 575.98px) {
    .container {
        max-width: 400px;
        margin: 0 auto;
    }

    .display-none {
        display: none;
    }

    #display-none {
        display: none;
    }

    .header {
        padding: 23px 0;
        .container {
            max-width: 300px;
            margin: 0 auto;
            .main-header {
                .header-navigation__items {
                    .hamburger__menu {
                        display: block;
                    }
                    .header-navigation__item {
                        display: none;
                    }
                }
                .header__switch {
                    width: 117px;
                    margin: 0 67px 0 0;
                    .checkbox:checked + .checkbox__label {
                        left: 25px;
                    }
                }
            }
        }
    }

    .subtitle-section {
        padding: 90px 0 340px 0;
        overflow-y: visible;
        .container {
            max-width: 300px;
            margin: 0 auto;
            .main-subtitle {
                .main-subtitle__icons {
                    display: none;
                }
                .main-subtitle__info {
                    padding: 0;
                    .main-subtitle__title {
                        width: 100%;
                        font-weight: 900;
                        font-size: 48px;
                        line-height: 56px;
                    }
                    .main-subtitle__btn {
                        margin: 18px 0 0 0;
                    }
                }
                .slide-animal {
                    top: 457px;
                    padding: 0 32px 0 0;
                    .animal-photo {
                        .animal {
                            width: 140px;
                            margin: 0;
                            padding: 0;
                        }
                    }
                    .animal-number {
                        .number {
                            margin: 15px 0 0 0;
                            padding: 0 44px 0 0;
                            text-align: right;
                        }
                    }
                    .line-scroll {
                        width: 138px;
                        margin: 3px 0 0 154px;
                    }
                    .line-grow {
                        width: 16px;
                        position: absolute;
                        right: 150px;
                        margin: -9px 0 0 0;
                    }
                }
            }
        }
    }
    
    .works-section {
        padding: 50px 0 50px 0;
        .main-works {
            width: 93.5%;
            margin: 0 auto;
            .works-info {
                .works-title {
                    font-size: 36px;
                    line-height: 42px;
                    margin: 0 0 20px 0;
                }
                .works-subtitle {
                    width: 100%;
                    margin: 0 0 32px 0;
                    font-size: 14px;
                }
                .numbertext {
                    padding: 339px 0 0 0;
                }
                .animal-slide {
                    width: 100%;
                    height: 321px;
                }
                .slide-dot {
                    margin: 34px 0 0 0;
                }
                .works-btn {
                    margin: 14px 0 0 9px;
                }
            }
        }
    }

    .about-me__section {
        padding: 48px 0 49px 0;
        .main-about__me {
            display: block;
            max-width: 100%;
            .about-me__blog {
                width: 100%;
                margin: 0 0 29px 0;
                .about-me__blog-title {
                    margin: 11px 0 16px 0;
                }
                .about-me__blog-subtitle {
                    width: 100%;
                    display: inline-block;
                    padding: 0 0 0 11px;
                }
            }
        }
    }

    .zoo-section {
        padding: 94px 0 53px 0;
        .main-zoo {
            .zoo-title {
                font-size: 36px;
                margin: 0 0 22px 0;
            }
            main {
                max-width: 88%;
                margin: 0 auto;
                .slider-indicator-bar {
                    width: 75%;
                    margin: 72px auto 0 auto;
                }
                .card {
                    img {
                        margin: 0 7px 0 0;
                    }
                    .animal {
                        width: 211px;
                    }
                    .card-info {
                        top: 185px;
                        padding-left: 11px;
                    }
                }
            }
            .card-outter {
                padding: 0 0 0 9px;
            }
            .zoo-btn {
                margin: 27px 0 0 0;
            }
        }
    }

    .the-donate {
        padding: 41px 0 50px 0;
        .container {
            max-width: 700px;
            margin: 0 auto;
            .donate-title {
                font-size: 36px;
                margin: 0;
            }
            .donate-subtitle {
                margin: 0 100px;
                display: none;
            }
            .main-donate {
                display: block;
                text-align: center;
                padding: 26px 0 43px 0;
                .donate-blog {
                    padding: 60px 58px 55px 56px;
                    display: inline-block;
                    width: 250px;
                }
                .donate-arrow__blog {
                    margin: 31px 0 47px 0;
                    .arrow {
                        width: 50px;
                        padding: 0;
                        transform: rotate(90deg);
                    }
                }
            }
            .donate-btn {
                margin: 0;
            }
        }
    }

    .testimonials-section {
        padding: 43px 0 51px 0;
        .testimonial-title {
            font-size: 36px;
            margin: 0 0 29px 0;
        }
        .main-testimonials {
            main {
                width: 90%;
            }
            .card__blog {
                .card__blog-title {
                    font-size: 16px;
                    margin: 44px 0 15px 0;
                }
                .card__blog-subtitle {
                    padding: 3px 0 0 11px;
                }
            }
            .card-outter {
                background-color: #fff;
                padding: 49px 0 10px 17px;
                height: 362px;
                width: 95.5%;
            }
            .slider-indicator-bar {
                width: 244px;
                margin: 82px auto 0 auto;
            }
        }
        .testimonial-btn {
            margin: 21px 0 0 0;
        }
    }

    .maps-section {
        padding: 42px 0 60px 0;
        .map-title {
            font-size: 36px;
        }
        .main-maps {
            margin: 24px 0 58px 0;
            .maps-eage__info {
                left: 37px;
                margin: 34px 0 0 0;
                .maps-info {
                    width: 241px;
                    padding: 14px 33px 18px 18px;
                    .map-eagle {
                        top: 0;
                        width: 40px;
                    }
                    .maps-info__item {
                        margin: 0 0 0 8px;
                        .maps-info__item-title {
                            font-size: 14px;
                            margin: 0 0 1px 0;
                        }
                        .maps-info__item__subtitle {
                            span {
                                font-size: 11px;
                                line-height: 13px;
                            }
                            font-size: 10px;
                            line-height: 13px;
                            margin: 0 0 4px 0;
                        }
                    }
                }
            }
            .map {
                width: 100%;
            }
        }
        .maps-btn {
            margin: -15px 0 0 0;
        }
    }

    .footer {
        padding: 50px 0 67px 0;
        .container {
            max-width: 300px;
            margin: 0 auto;
            .first-footer {
                display: flex;
                flex-wrap: wrap;
                .footer-navigation__items {
                    display: none;
                }
                .footer-navigation__items-media {
                    width: 100%;
                    padding: 27px 0 0 0;
                    margin: 0 131px 0 0;
                    display: block;
                    justify-content: flex-end;
                    .footer-navigation__item {
                        list-style: none;
                        margin: 0 0 5px 0;
                        .footer-navigation__link {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 18px;
                            text-decoration: none;
                            color: $darkwhite;
                        }
                    }
                }
                .footer-btn {
                    display: none;
                }
            }
            .second-footer {
                padding: 23px 0 79px 0;
                display: block;
                .footer-register {
                    width: 100%;
                    .footer-input {
                        padding: 0 0 8px 0;
                        margin: 0 0 18px 0;
                    }
                    #footer-message {
                        margin: 12px 0 0 0;
                    }
                    .checkbox-blog {
                        margin: 16px 0 20px 0;
                        label::before {
                            height: 11px;
                            margin: 0 3px 0 0;
                        }
                    }
                    .send {
                        padding: 0;
                    }
                }
                .second-footer__info {
                    padding: 54px 0 0 0;
                }
                .footer-btn-media {
                    display: block;
                    width: 100%;
                    padding: 0 13px;
                    margin: 41px 0 0 0;
                    a {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        padding: 17px 0;
                    }
                }
            }
            .last-footer {
                padding: 28px 0 0 0;
                .last-footer__title {
                    margin: 0 0 6px 0;
                }
            }
        }
    }

    .popup {
        .popup__body {
            .popup__content {
                max-width: 317px;
                padding: 104px 0 0 0;
                .popup__img {
                    display: none;
                }
                .popup__info {
                    width: 100%;
                    padding: 0 20px;
                    text-align: center;
                    .popup__title {
                        padding: 0 0 44px 0;
                        font-size: 20px;
                    }
                    .popup__flex {
                        .popup__blog {
                            .popup__blog-title {
                                text-align: left;
                                margin: 30px 0 29px 0;
                            }
                        }
                    }
                    .popup__paragraph {
                        margin: 30px 0 30px 0;
                    }
                    .popup__btn {
                        margin: 0 0 150px 0;
                        a {
                            width: 90%;
                            text-align: center;
                            margin: 0 10px;
                            padding: 16px 0;
                        }
                    }
                }
            }
        }   
    }
}